<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-split-layout/vaadin-split-layout.html">
<link rel="import" href="../mesh-canvas/mesh-canvas.html">
<link rel="import" href="../side-bar/side-bar.html">

<dom-module id="autocuts-view">
  <template>
    <style>
      :host {
        display: flex;
        width: 100%;
        height: 100%;
      }

      .outer-split {
        flex: 1;
      }

      .inner-split {
        width: 100%;
        height: 100%;
      }
    </style>
    <vaadin-split-layout class="outer-split">
      <side-bar></side-bar>
      <vaadin-split-layout orientation="[[splitOrientation]]" class="inner-split">
        <mesh-canvas title="Mesh View" data="{{meshData}}"></mesh-canvas>
        <mesh-canvas title="Solver View" data="{{solverData}}"></mesh-canvas>
      </vaadin-split-layout>
    </vaadin-split-layout>
  </template>
  <script>
    class AutocutsView extends Polymer.Element {
      static get is() { 
        return "autocuts-view";
      }

      ready() {
        this.splitOrientation = 'vertical';
        this.autocutsEngine = require('../autocuts-engine/build/Release/autocuts-engine.node');
        this.addEventListener('mesh-files-loaded', this._meshFilesLoaded);
        this.addEventListener('split-orientation-changed', this._splitOrientationChanged);
        super.ready();
      }

      _meshFilesLoaded(e) {    
        this.meshWithSoup = this.autocutsEngine.loadMeshWithSoup(e.detail.files[0]);
        this.meshData = meshWithSoup.meshData;
        this.solverData = meshWithSoup.solverData;
      }

      _splitOrientationChanged(e) {    
        this.splitOrientation = e.detail.splitOrinetation;
      }
    }
    customElements.define(AutocutsView.is, AutocutsView);
  </script>
</dom-module>