<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/utils/render-status.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../mesh-provider/mesh-provider.html">
<link rel="import" href="./statsjs-import.html">
<dom-module id="mesh-view">
  <template>
    <style>
      :host {
        width: 100%;
        height: 100%;
      }

      canvas {
        display: block;
      }

      .container {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;
      }

      .canvas-title {
        margin: 0px;
        padding: 0px;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 30px;
        color: white;
      }
    </style>
    <div class="container">
      <div class="canvas-title">[[title]]</div>
    </div>
  </template>
  <script>
    class MeshView extends Polymer.mixinBehaviors([Polymer.IronResizableBehavior], Polymer.Element) {
      static get is() {
        return "mesh-view";
      }

      static get properties() {
        return {
          meshProvider: {
            type: Object,
            value: function () {
              return new MeshProvider();
            },
            observer: '_meshProviderChanged'
          },
          title: {
            type: String
          },
          backgroundColor: {
            type: String,
            value: function () {
              return "rgb(0, 0, 0)";
            },
            observer: '_backgroundColorChanged'
          },
          showWireframe: {
            type: Boolean,
            value: function () {
              return false;
            },
            observer: '_showWireframeChanged'
          },
          meshInteraction: {
            type: String,
            value: function () {
              return 'rotate';
            },
            observer: '_meshInteractionChanged'
          },
        }
      }

      connectedCallback() {
        super.connectedCallback();
        this.addEventListener('iron-resize', e => this._resizeScene());
        Polymer.RenderStatus.beforeNextRender(this, function () {
          this._resizeScene()
          this._connectScene();
          this._renderScene();
        });
      }

      ready() {
        this.THREE = require('three');
        this.meshViewResizeSubscriptionToken = require('pubsub-js').subscribe('mesh-view.resize', () => this._resizeScene());
        this._initialize();
        super.ready();
      }

      _showWireframeChanged(showWireframe) {
        if (this._meshWireframe) {
          this._meshWireframe.visible = showWireframe;
        }
      }

      _meshProviderChanged(meshProvider) {
        let THREE = require('three');
        this._clearSceneSubtree(this._scene);

        this._material = new THREE.MeshBasicMaterial({
          color: 0xff0000
        });

        this._wireframeMaterial = new THREE.MeshBasicMaterial({
          color: 0x000000,
          wireframe: true
        });

        this._geometry = new THREE.BufferGeometry();
        this._geometry.addAttribute('position', new THREE.BufferAttribute(new Float32Array(this.meshProvider.bufferedVertices),
          3));

        this._mesh = new THREE.Mesh(this._geometry, this._material);
        this._meshWireframe = new this.THREE.Mesh(this._geometry, this._wireframeMaterial)

        this._scene.add(this._mesh);
        this._scene.add(this._meshWireframe);

        this._raycaster = new THREE.Raycaster();

        this._lineGeometry = new THREE.BufferGeometry();
        this._lineGeometry.addAttribute('position', new THREE.BufferAttribute(new Float32Array(4 * 3), 3));
        this._lineMaterial = new THREE.LineBasicMaterial({
          color: 0xffffff,
          linewidth: 2,
          transparent: true
        });
        this._line = new THREE.Line(this._lineGeometry, this._lineMaterial);
        this._scene.add(this._line);
      }

      _backgroundColorChanged(color) {
        let THREE = require('three');
        this._renderer.setClearColor(new THREE.Color(color), 1.0);
      }

      _meshInteractionChanged(meshInteraction) {
        this._controls.enableRotate = (meshInteraction == 'rotate');
      }

      _clearSceneSubtree(object) {
        while (object.children.length > 0) {
          this._clearSceneSubtree(object.children[0])
          object.remove(object.children[0]);
        }

        if (object._geometry) {
          object._geometry.dispose()
        }

        if (object._material) {
          object._material.dispose()
        }

        if (object.texture) {
          object.texture.dispose()
        }
      }

      _initialize() {
        let THREE = require('three');
        this._createCamera()
        this._createRenderer();
        this._createScene();
        this._createOrbitControl();
        this._intersection = null;
        this._mouseDown = false;
        this._mouseDrag = false;
      }

      _createCamera() {
        let THREE = require('three');
        this._camera = new THREE.PerspectiveCamera(45, 0, 0.1, 10000);
        this._camera.position.z = 2;
      }

      _createRenderer() {
        let THREE = require('three');
        this._renderer = new THREE.WebGLRenderer({
          antialias: true
        });
        this._renderer.setPixelRatio(window.devicePixelRatio);
      }

      _createScene() {
        let THREE = require('three');
        this._scene = new THREE.Scene();
      }

      _createOrbitControl() {
        let THREE = require('three');
        let OrbitControls = require('three-orbit-controls')(THREE);
        this._controls = new OrbitControls(this._camera, this._renderer.domElement);
        this._controls.enableDamping = true;
        this._controls.dampingFactor = 0.25;
        this._controls.screenSpacePanning = false;
        this._controls.enableKeys = false;
        this._controls.minDistance = 0;
        this._controls.maxDistance = 1000;
        this._controls.maxPolarAngle = 2 * Math.PI;
        this._controls.enableRotate = false;
      }

      _resizeScene() {
        let THREE = require('three');
        this._camera.aspect = this.offsetWidth / (this.offsetHeight);
        this._camera.updateProjectionMatrix();
        this._renderer.setSize(this.offsetWidth, this.offsetHeight);
      }

      _renderScene() {
        this.stats.begin();

        // Update _mesh vertices to match the current state of the _mesh provider
        let positions = this._geometry.attributes.position.array;
        for (let i = 0; i < positions.length; i++) {
          positions[i] = this.meshProvider.bufferedVertices[i];
        }

        if (this.meshInteraction === 'faces' && this._intersection) {
          let linePosition = this._line.geometry.attributes.position;
          let meshPosition = this._mesh.geometry.attributes.position;
          linePosition.copyAt(0, meshPosition, this._intersection.face.a);
          linePosition.copyAt(1, meshPosition, this._intersection.face.b);
          linePosition.copyAt(2, meshPosition, this._intersection.face.c);
          linePosition.copyAt(3, meshPosition, this._intersection.face.a);
          this._line.geometry.applyMatrix(this._mesh.matrix);
          this._line.visible = true;
        } else {
          this._line.visible = false;
        }

        this._geometry.attributes.position.needsUpdate = true;
        this._renderer.render(this._scene, this._camera);
        this.stats.end();
        this.scheduledAnimationFrameId = requestAnimationFrame(() => this._renderScene());
      }

      _connectScene() {
        this._renderer.domElement.onmousedown = this._mouseDownHandler.bind(this)
        this._renderer.domElement.onmousemove = this._mouseMoveHandler.bind(this)
        this._renderer.domElement.onmouseup = this._mouseUpHandler.bind(this)
        this.root.querySelector('.container').appendChild(this._renderer.domElement);
        this.stats = new Stats();
        this.stats.showPanel(1);
        this.stats.dom.style.position = 'absolute';
        this.stats.dom.style.top = '';
        this.stats.dom.style.bottom = '0px';
        this.root.querySelector('.container').appendChild(this.stats.dom);
      }

      _mouseDownHandler(e) {
        switch (this.meshInteraction) {
          case 'faces':
            if (this._intersection) {
              require('pubsub-js').publish('mesh-view-face-down', {
                faceId: this._intersection.faceId
              });
            }
            break;
        }

        this._mouseDown = true;
      }

      _mouseMoveHandler(e) {
        event.preventDefault();
        let THREE = require('three');
        let deviceMousePosition = new THREE.Vector2();
        let boundingClientRect = this._renderer.domElement.getBoundingClientRect();
        deviceMousePosition.x = (e.offsetX / boundingClientRect.width) * 2 - 1;
        deviceMousePosition.y = -(e.offsetY / boundingClientRect.height) * 2 + 1;
        this._raycaster.setFromCamera(deviceMousePosition, this._camera);

        if (!this._mouseDrag) {
          let intersections = this._raycaster.intersectObject(this._mesh);
          if (intersections.length > 0) {
            this._intersection = intersections[0];
            this._intersection.plane = new THREE.Plane();
            this._intersection.offset = new THREE.Vector3();
            this._intersection.plane.setFromNormalAndCoplanarPoint(this._camera.getWorldDirection(this._intersection.plane.normal), this._intersection.point);
            this._intersection.faceId = Math.round(this._intersection.faceIndex / 3);
          } else {
            this._intersection = null;
          }

          if (this._mouseDown) {
            this._mouseDrag = true;
          }
        } else if (this._intersection) {
          let currentIntersectionPoint = new THREE.Vector3();
          if (this._raycaster.ray.intersectPlane(this._intersection.plane, currentIntersectionPoint)) {
            this._intersection.offset.subVectors(currentIntersectionPoint, this._intersection.point);
          }

          switch (this.meshInteraction) {
            case 'faces':
              require('pubsub-js').publish('mesh-view-face-drag', {
                faceId: this._intersection.faceId,
                offset: this._intersection.offset
              });
              break;
          }
        }
      }

      _mouseUpHandler(e) {
        if (this._mouseDrag) {
          switch (this.meshInteraction) {
            case 'faces':
              if (this._intersection) {
                require('pubsub-js').publish('mesh-view-face-up', {
                  faceId: this._intersection.faceId,
                });
              }
              break;
          }
        }

        this._mouseDown = false;
        this._mouseDrag = false;
      }
    }
    customElements.define(MeshView.is, MeshView);
  </script>
</dom-module>